.env
.env.*
!.env.example
!**/.env.example

appsettings.Production.json
appsettings.Development.json
secrets.json

backend/SurveyWeb/*/appsettings.json
backend/SurveyWeb/*/appsettings.Production.json
backend/SurveyWeb/*/appsettings.Development.json
backend/SurveyWeb/**/secrets.json

node_modules/
**/node_modules/
mobile/.expo/
mobile/dist/
mobile/android/.gradle/
mobile/android/build/
mobile/android/app/build/
bin/
obj/
**/bin/
**/obj/

backend/SurveyWeb/.vs/
/SurveyWeb/
