EXPO_PUBLIC_API_GATEWAY_URL=
EXPO_PUBLIC_USER_API_URL=https://suresurvey-user-service.onrender.com
EXPO_PUBLIC_SURVEY_API_URL=https://suresurvey-survey-service.onrender.com
EXPO_PUBLIC_WALLET_API_URL=https://suresurvey-wallet-service.onrender.com
