POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5434
POSTGRES_USER=postgres
POSTGRES_PASSWORD=YOUR_PASSWORD

USER_SERVICE_DATABASE=UserService
SURVEY_SERVICE_DATABASE=SurveyService
WALLET_SERVICE_DATABASE=WalletService

JWT_KEY=YOUR_SUPER_SECRET_KEY_AT_LEAST_32_CHARACTERS_LONG!
JWT_ISSUER=UserService
JWT_AUDIENCE=UserServiceClient

INTERNAL_SERVICE_API_KEY=CHANGE_ME_INTERNAL_SERVICE_KEY

SURVEY_SERVICE_BASE_URL=https://localhost:7148
WALLET_SERVICE_BASE_URL=https://localhost:7074

ServiceUrls__UserService=http://localhost:5178
ServiceUrls__SurveyService=http://localhost:5159
ServiceUrls__WalletService=http://localhost:5258
Cors__AllowedOrigins__0=http://localhost:3000
Cors__AllowedOrigins__1=http://localhost:5173
Cors__AllowedOrigins__2=http://localhost:5080

MANUAL_PAYMENT_BANK_NAME=YOUR_BANK_NAME
MANUAL_PAYMENT_BANK_ACCOUNT_NAME=YOUR_BANK_ACCOUNT_NAME
MANUAL_PAYMENT_BANK_ACCOUNT_NUMBER=YOUR_BANK_ACCOUNT_NUMBER
MANUAL_PAYMENT_QR_IMAGE_URL=https://example.com/your-qr-image.png
